NEXT_PUBLIC_APPWRITE_PROJECT_ID = ""
NEXT_PUBLIC_APPWRITE_PROJECT_NAME = ""
NEXT_PUBLIC_APPWRITE_ENDPOINT = "https://sgp.cloud.appwrite.io/v1"
NEXT_PUBLIC_APPWRITE_PROFILES_DB = ""
NEXT_PUBLIC_APPWRITE_SUBMISSIONS_DB = ""
NEXT_PUBLIC_APPWRITE_ARTICLES_BUCKET = ""
